<div>
  <h2>Your form inputs</h2>
  <h4>First Name</h4>
  <h3>
    <%= @first_name %>
  </h3>
  <h4>Last Name</h4>
  <h3>
    <%= @last_name %>
  </h3>
  <h4>Graduation Year</h4>
  <h3>
    <%= @year %>
  </h3>
</div>